@font-face {
    font-family: rebond-grotesque-light;
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-light.otf?v=1628165831");
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-light.otf?v=1628165831") format("embedded-opentype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-light.ttf?v=1628166182") format("truetype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-light.woff?v=1628166377") format("woff"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-light.svg?v=1628166562") format("svg");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: rebond-grotesque-regular;
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-regular.otf?v=1628165831");
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-regular.otf?v=1628165831") format("embedded-opentype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-regular.ttf?v=1628166182") format("truetype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-regular.woff?v=1628166377") format("woff"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-regular.svg?v=1628166562") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: rebond-grotesque-semibold;
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-semibold.otf?v=1628165831");
    src: url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-semibold.otf?v=1628165831") format("embedded-opentype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-semibold.ttf?v=1628166182") format("truetype"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-semibold.woff?v=1628166376") format("woff"),
        url("https://cdn.shopify.com/s/files/1/0065/1277/1170/files/rebond-grotesque-semibold.svg?v=1628166562") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}